/node_modules
/public/hot
/public/storage
/public/uploads/*.png
/public/uploads/*.jpg
/public/uploads/*.jpeg
/storage/*.key
/vendor
/.idea/php.xml
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/views/*/*.bkp.php
/public/uploads
/app/Models/Tasks.php
/app/Http/Controllers/TasksController.php
resources/views/auth/passwords/*.bkp.php
